apiVersion: v1
kind: Service
metadata:
  name: metrics-analyzer
  labels:
    app: metrics-analyzer
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: metrics-analyzer

